{% extends "base.html" %}

{% block  content %}

<div class="container mt-5">

    <h1>All Categories</h1>

    <div class="row">
        <div class="col-3 mb-5">

            <form action="{% url 'custom_admin_categories_search' %}" method="post">
                {% csrf_token %}


                <div class="input-group">
                    <input name="searched_word" class="form-control border-end-0 border rounded-pill" type="text"
                        value="" id="example-search-input">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3"
                            type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>

                <label for="search_field">Search By:</label>
                <select name="search_field" class="form-control">
                    <option value="id">id</option>
                    <option value="name">name</option>
 
                </select>


            </form>

        </div>

       
    </div>


    <div class="row">
        <div class="offset-8 col-4">
            <a class="btn btn-success" href="{% url 'custom_admin_categories_create' %}">Create a Category</a>
        </div>
    </div>
    <p>Number of categories Searched :{{category_searched|length}} </p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">description</th>
                <th scope="col">created_at</th>
            </tr>
        </thead>
        <tbody>

            {% for cat in category_searched %}



            <tr>
                <th scope="row">{{cat.id}}</th>
                
                <td>{{cat.name}}</td>
                <td>{{cat.description}} </td>
                <td>{{cat.created_at}} </td>
                <td><a class="btn btn-dark" href="{% url 'custom_admin_categories_edit' cat.id %}">Edit</a></td>
                <td><a class="btn btn-danger" href="{% url 'custom_admin_categories_delete' cat.id %}">Delete</a></td>
            </tr>
            {% endfor %}


        </tbody>
    </table>



</div>


{% endblock content %}