{% extends "base.html" %}
{% load static %}
{% block content %} <h1> Home Page </h1>
{% endblock content %}

{% block landingSection %}

{{projectsList}}

<h1>
    {{featured_projects}}
</h1>
<div class="container">
    <div class="row">
        <div class="offset-4 col-4">
            <form class="d-flex mb-5" action="{% url 'project.search' %}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value=""
                    name="searchedWord" />
                <button class="btn btn-outline-success" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
    <div class="row mb-5">

        <div class="offset-1 col-8">

            <span class="fs-5 offset-1">Featured Projects</span>
            <div id="carouselFeatured" style="height: 500px; width: 700px;" class="ms-5 mt-5 carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for pro in featured_projects %}

                    <div style="" class="carousel-item {% if forloop.counter0  == 0 %} active {% endif %}">
                        <span onclick="window.location.href='';" style="cursor: pointer;">
                            <span class="text-danger fs-6">{{pro.title}}</span>
                            <span class="ms-1 text-danger fs-6">By {{pro.owner}}</span>
                            <span class="ms-5 text-danger fs-6">Goal funds : {{pro.total_target}}</span>
                            <span class="ms-5 text-danger fs-6">Rate : {{pro.average_rate}}
                            </span>
                            <img src="{{pro.get_main_image_url}}" style="height: 400px ;width: 700px;" class="d-block  "
                                alt="...">
                        </span>
                    </div>

                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselFeatured"
                    data-bs-slide="prev">
                    <span style="background-color: black;
                    scale: 2;" class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselFeatured"
                    data-bs-slide="next">
                    <span style="background-color: black;
                    scale: 2;" class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>

    </div>
    <div class="row mb-5">

        <div class="offset-1 col-8">

            <span class="fs-5 offset-1">the latest 5 projects</span>
            <div id="carouselExampleControls" style="height: 500px; width: 700px;" class="ms-5 mt-5 carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for pro in latest_projects %}

                    <div style="" class="carousel-item {% if forloop.counter0  == 0 %} active {% endif %}">
                        <span onclick="window.location.href='';" style="cursor: pointer;">
                            <span class="text-danger fs-6">{{pro.title}}</span>
                            <span class="ms-1 text-danger fs-6">By {{pro.owner}}</span>
                            <span class="ms-5 text-danger fs-6">Goal funds : {{pro.total_target}}</span>
                            <span class="ms-5 text-danger fs-6">Rate : {{pro.average_rate}}
                                {{pro.tag4}}</span>
                            <img src="{{pro.get_main_image_url}}" style="height: 400px ;width: 700px;" class="d-block  "
                                alt="...">
                        </span>
                    </div>

                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span style="background-color: black;
                    scale: 2;" class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span style="background-color: black;
                    scale: 2;" class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>

    </div>

    <div class="row mb-5">

        <div class="offset-1 col-8">

            <span class="fs-5 offset-1">the highest five rated</span>
            <div id="carouselHighest" style="height: 500px; width: 700px;" class="ms-5 mt-5 carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for pro in all_projects %}

                    <div style="" class="carousel-item {% if forloop.counter0  == 0 %} active {% endif %}">
                        <span onclick="window.location.href='';" style="cursor: pointer;">
                            <span class="text-danger fs-6">{{pro.title}}</span>
                            <span class="ms-1 text-danger fs-6">By {{pro.owner}}</span>
                            <span class="ms-5 text-danger fs-6">Goal funds : {{pro.total_target}}</span>
                            <span class="ms-5 text-danger fs-6">Rate : {{pro.average_rate}}
                            </span>
                            <img src="{{pro.get_main_image_url}}" style="height: 400px ;width: 700px;" class="d-block  "
                                alt="...">
                        </span>
                    </div>

                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselHighest"
                    data-bs-slide="prev">
                    <span style="background-color: black;
                    scale: 2;" class="carousel-control-prev-icon " aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselHighest"
                    data-bs-slide="next">
                    <span style="background-color: black;
                    scale: 2;" class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>

    </div>


</div>
</div>

{% endblock landingSection %}