{% extends "base.html" %}
{% load static %}
{% block content %} <h1> Home Page </h1>
{% endblock content %}

{% block landingSection %}

<div>
    {{all_projects}}

</div>

<div>
    {{latest_projects}}

</div>
<div class="container">

    <div id="carouselExampleControls" style="height: 400px; width: 700px;" class="ms-5 mt-5 carousel slide"
        data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for pro in all_projects %}

            <div style="" class="carousel-item {% if forloop.counter0  == 0 %} active {% endif %}">
                <span onclick="window.location.href='';" style="cursor: pointer;">
                    <span class="text-danger fs-6">{{pro.title}}</span>
                    <span class="ms-1 text-danger fs-6">by {{pro.owner}}</span>
                    <span class="ms-5 text-danger fs-6">wanted funds : {{pro.total_target}}</span>
                    <span class="ms-5 text-danger fs-6">tags : {{pro.tag1}}, {{pro.tag2}}, {{pro.tag3}},
                        {{pro.tag4}}</span>
                    <img src="{{pro.get_main_image_url}}" style="height: 400px ;width: 700px;" class="d-block  "
                        alt="...">
                </span>
            </div>

            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</div>
</div>

{% endblock landingSection %}