{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>
        custom admin panel
    </h1>
    <div class="row">
        <div class="col-4">
            Authentication
            <ul>
                <li><a href="{% url 'custom_admin_users' %}">Users</a></li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-4">
            Category
            <ul>
                <li><a href="{% url 'custom_admin_categories' %}">Categories</a></li>
               
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            Projects
            <ul>
                <li><a href="{% url 'custom_admin_projects' %}">Projects</a></li>
                <li><a href="{% url 'custom_admin_rates' %}">Projects Rates</a></li>
                <li><a href="{% url 'custom_admin_comments' %}">Projects Comments</a></li>
    
    
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            Users Funds
            <ul>
                <li><a href="{% url 'custom_admin_funds' %}">Funds</a></li>
               
    
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            Reported content
            <ul>
                <li><a href="{% url 'custom_admin_reported_projects' %}">Reported Projects</a></li>
                <li><a href="{% url 'custom_admin_reported_comments' %}">Reported Comments</a></li>
            </ul>
        </div>
    </div>
    </div>


</div>

{% endblock %}

{% comment %}
{% load static %} {% block title %}Admin Home{% endblock %}
{% block content %}
<h1 class="text-center text-info">Admin Home</h1>

<table class="table table-hover container table-secondary shadow table-striped-columns table-bordered">
    <thead>
        <tr>
            <th scope="col" colspan="2" class="text-center display-5">Authentication and Authorization</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><a href="" class="">Users</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><a href="">UsersProfiles</a></td>
        </tr>
    </tbody>
</table>
<table class="table table-hover container table-secondary shadow table-striped-columns table-bordered">
    <thead>
        <tr>
            <th scope="col" colspan="2" class="text-center display-5">Categories</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><a href="" class="">Categories</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><a href="">Tags</a></td>
        </tr>
    </tbody>
</table>
<table class="table table-hover container table-secondary shadow table-striped-columns table-bordered">
    <thead>
        <tr>
            <th scope="col" colspan="2" class="text-center display-5">Projects</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><a href="" class="">Projects</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><a href="">Reviews</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><a href="">Donations</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td><a href="">ProjectReports</a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td><a href="">CommentReports</a></td>
        </tr>
    </tbody>
</table> {% endcomment %}
{% comment %}
<div class="container my-4">
    <hr />
    <h2 class="text-center bg-body-secondary">Create Category</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ category_form }}
        <input type="submit" name="category" class="btn btn-outline-success form-control mt-3"
            value="Create Category" />
    </form>
</div>

<div class="container my-4">
    <hr />
    <h2 class="text-center bg-body-secondary">Create Tag</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ tag_form }}
        <input type="submit" name="tag" class="btn btn-outline-success form-control mt-3" value="Create Tag" />
    </form>
</div>
<hr />

<div class="container my-4">
    <h2>Categories</h2>
    <ul class="list-group">
        {% for category in categories %}
        <li class="list-group-item d-flex justify-content-between">
            {{ category.name }}
            <form method="post" style="display: inline">
                {% csrf_token %} <button type="submit" name="edit_category_{{ category.id }}"
                    class="btn btn-info btn-sm float-right">Edit</button>
                <button type="submit" name="delete_category_{{ category.id }}"
                    class="btn btn-danger btn-sm float-right mr-2">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="container my-4">
    <h2>Tags</h2>
    <ul class="list-group">
        {% for tag in tags %}
        <li class="list-group-item d-flex justify-content-between">
            {{ tag.name }}
            <form method="post" style="display: inline">
                {% csrf_token %} <button type="submit" name="edit_tag_{{ tag.id }}"
                    class="btn btn-info btn-sm float-right">Edit</button>
                <button type="submit" name="delete_tag_{{ tag.id }}"
                    class="btn btn-danger btn-sm float-right mr-2">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endcomment %}
{% comment %} <script src="{% static 'projects/js/script.js'%}"></script>
{% endblock%} {% endcomment %}