{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1 class="text-center m-3"> Your Profile Info </h1>
    <form method="post" enctype="multipart/form-data" style="margin-left: 50px;">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="text-danger">User Name:</h4>
                    <p>{{user.username}}</p>
                    <h4 class="text-danger">First Name:</h4>
                    <p>{{user.first_name}}</p>
                    <h4 class="text-danger">Last Name:</h4>
                    <p>{{user.last_name}}</p>
                    <h4 class="text-danger">E-mail Address:</h4>
                    <p>{{user.email}}</p>
                    <h4 class="text-danger">Phone:</h4>
                    <p>{{user.phone_number}}</p>
                </div>
                <div class="col-lg-6">
                    <img src= '{{user.get_image_url}}' width="300px" height="300px" class="rounded-circle">
                </div>
            </div>
        </div>

        <div class="text-center">
            <a class="btn btn-warning" aria-current="page" href="{% url 'profile_edit'%}" style="margin: 20px;">Edit Information</a>
            <a class="btn btn-primary" aria-current="page" href="{% url 'password_change' %}" style="margin: 20px;">Change password</a>
            <a class="btn btn-danger" aria-current="page" href="{% url 'profile_delete'%}" style="margin: 20px;">Delete</a>
        </div>
        <div class="text-center">
            <a class="btn btn-secondary" aria-current="page" href="#" style="margin: 20px;">Donations</a>
            <a class="btn btn-secondary" aria-current="page" href="#" style="margin: 20px;">Projects</a>
        </div>
    </form>
    <script src="{% static 'accounts/js/script.js'%}"></script>
{% endblock content %} 