{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1 style="margin-left: 30px; margin-top: 20px;"> Login </h1>
    <form method="post" enctype="multipart/form-data" style="margin-left: 50px; height: 480px;">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary" style="margin-top: 20px; margin-bottom: 20px;">Submit</button>
        <a href="{% url 'password_reset' %}">Forget Password!</a> <br>

    </form>
    <script src="{% static 'accounts/js/script.js'%}"></script>
{% endblock content %}