{% extends "base.html" %}

{% load static %}
{% block links %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}
{% block content %} <h1> view Project page </h1>




<div class="container mt-5">
    <div class="row">
        <div class="col-xl-7 ms-4 px-1">
            <div style="height: 500px;"> <img style="" class="w-100 h-100" src="{{ project.get_main_image_url }}" />
            </div>

        </div>
        <div data-bs-toggle="modal" data-bs-target="#viewProjectsImagesModal" class="col-xl-4">
            <img width="500" height="220" src="{{ project.get_image1_url }}" />
            <img width="500" height="220" class="mt-3" src="{{ project.get_image2_url  }}" />
        </div>



        <div class="modal fade" id="viewProjectsImagesModal" tabindex="-1" aria-labelledby="viewProjectsImagesModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div style="height: 400px; width: 700px;" class="modal-content">

                    <div id="carouselHighest" style="height: 500px; width: 700px;" class=" carousel slide"
                        data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for imge in project.get_all_imagesArray %}

                            <div style="" class="carousel-item {% if forloop.counter0  == 0 %} active {% endif %}">

                                <img src="{{imge}}" style="height: 400px ;width: 700px;" class="d-block  " alt="...">
                                </span>
                            </div>

                            {% endfor %}

                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselHighest"
                                data-bs-slide="prev">
                                <span style="background-color: black;
                    scale: 2;" class="carousel-control-prev-icon " aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselHighest"
                                data-bs-slide="next">
                                <span style="background-color: black;
                    scale: 2;" class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>





    </div>
    <div class="row mt-4">
        <div class="offset-2 col-7 ms-4 px-1">
            <div class="row">
                <p style="color: silver;" class="fs-5 fw-bold">{{ filteredObject.title }}</p>
            </div>
            <div class="row py-0">
                <span class="fs-5"> Funding Target {{ project.total_target }}
                    $</span>
            </div>
            <div class="row py-0 mt-3 ">
                <div class="col-6">
                    <div>

                        <span>Rate : </span>
                        <span>{{project.average_rate}}</span>
                    </div>
                    <div class="mt-2">

                        <span>Category : </span>
                        <span>{{ project.Category }} </span>
                    </div>
                </div>
                <div class="col-6">
                    <div>

                        <span>Start Date : </span>
                        <span>{{ project.start_date }} M</span>
                    </div>
                    <div class="mt-2">

                        <span>Available to : </span>
                        <span>{{ project.end_date }} </span>
                    </div>
                </div>
            </div>
            <div class="row mt-4 ">
                <div class="container">
                    <hr />
                </div>
            </div>
            <div class="row py-0 mt-3 ">
                <div class="col-6">
                    <div class="pb-4 fs-5 fw-bold">Name: </div>
                    <div class="row">

                        <div class="col-6 mt-4 fs-3">
                            <span>{{ project.title }}</span>
                        </div>
                    </div>
                </div>

                <div class="offset-1 col-5">
                    <div class="pb-4 fs-5 fw-bold">Owner: {{ project.owner }} </div>
                    <div class="row">
                        <div class="col-5">
                            <span class="">
                                <img style="height: 150px; width: 150px; border-radius: 50%;"
                                    src="{{project.owner.get_profile_pic}}" alt="" />
                            </span>
                        </div>
                        <div class="offset-2 col-5 mt-5">

                            <div class="row ms-2 fs-5 fw-bold">{{ seller.username }}</div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-4 ">
                <div class="container">
                    <hr />
                </div>
            </div>
            <div class="row mt-4 ">
                <span class="fs-5 fw-bold">Description :</span>
                <div class="container mt-5">{{ project.body }}</div>
            </div>
        </div>

        <div style="height: 10rem; width: 30rem;" class="col-3 border border-2 ms-2">

            <div class="d-flex justify-content-center mt-4 ">

                {% if project.owner.id == user.id %}
                <div class="col-4">
                    <button class="btn btn-primary">Edit your project</button>
                </div>
                <div class="">
                    <button class="btn btn-danger">
                        Delete your Project
                    </button>
                </div>
                {% else %}
                <div class="col-4">
                    <a href='{{product.get_show_url}}' style="cursor: pointer;" class="btn btn-danger">Give a Fund </a>

                    <div class="mt-3 input-group mb-3" style="max-width: 110px;">
                        <input type="number" class="form-control" name="funds" id="" min="0" max="50000">
                    </div>

                </div>
                <div class="col-4">
                    {% if rated %}
                    <span>your Rate : {{rated.rate_value}}</span>
                    <button class="btn btn-primary mt-1" type="submit">Edit</button>
                    {% else %}

                    {% comment %} /////// here is the rates {% endcomment %}

                    <form method="post" action="">
                        {% csrf_token %}
                        {{review_form}}

                        <button class="btn btn-primary ms-5 mt-1" type="submit">Submit</button>
                    </form>
                    {% endif %}

                </div>



                {% endif %}
            </div>
            <div class="row">
                <div class="container">
                    <hr class="mt-3 " />
                    <div class="row">
                        {% if project.owner.id == user.id %}
                        {% else %}
                        <button class="btn btn-success">
                            Report
                        </button>
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('input[name="rate"]').change(function () {
            $('#hiddenNewRate').val($(this).val());
        });
    });
</script>

{% endblock content %}