{% extends "base.html" %}
{% load static %}
{% block content %}



{% endblock content %}

{% block landingSection %}


<div class="container">
    <div class="row">
        <div class="offset-4 col-4">
            <form class="d-flex mb-5" action="{% url 'project.search' %}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value=""
                    name="searchedWord" />
                <button class="btn btn-outline-success" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <h1> search result</h1>
    </div>



    <div class="row mt-4 pb-5">
        <div class="container">
            <div class="row">
                {% for simProject in projectsList  %}
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{simProject.get_main_image_url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{simProject.title}}</h5>
                            <p class="card-text">{{simProject.details}}</p>
                            <a href="{{simProject.get_show_url}}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    {% endblock landingSection %}