{% extends "base.html" %}

{% block  content %}

<div class="container mt-5">

    <h1>All Projects</h1>
    <div class="row">
        <div class="col-3 mb-5">

            <form action="{% url 'custom_admin_project_search' %}" method="post">
                {% csrf_token %}


                <div class="input-group">
                    <input name="searched_word" class="form-control border-end-0 border rounded-pill" type="text"
                        value="" id="example-search-input">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3"
                            type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>

                <label for="search_field">Search By:</label>
                <select name="search_field" class="form-control">
                    <option value="title">Name</option>
                    <option value="id">ID</option>
                    <option value="Category">Category</option>
                    <option value="owner">Owner</option>
                    <option value="average_rate">Rate</option>
                </select>


            </form>

        </div>

        <div class="offset-3 col-3 mb-5">
            <form action="{% url 'custom_admin_project_sort' %}" method="post">
                {% csrf_token %}
              
                <label for="sort_by">sort By:</label>
                <select name="sort_by" class="form-control">
                    <option value="title">Name</option>
                    <option value="Category"> Category </option>
                    <option value="id"> ID </option>
                    <option value="average_rate_a"> Rate Assending </option>
                    <option value="average_rate_d"> Rate Dessinding </option>

                </select>
                <button class="btn btn-primary mt-3" type="submit">ok</button>
            </form>

        </div>

    </div>
    <div class="row">
        <div class="offset-8 col-4">
            <a class="btn btn-success" href="{% url 'custom_admin_project_create' %}">Create a Project</a>
        </div>
    </div>
  
    <p>Total number of projects: {{ projects_searched|length }}</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Owner</th>
                <th scope="col">Goal Fund</th>
                <th scope="col">Rate</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Is featured ?</th>
                <th scope="col"></th>
                <th scope="col"></th>
                
               
            </tr>
        </thead>
        <tbody>

            {% for pro in projects_sorted %}



            <tr>
                <th scope="row">{{pro.id}}</th>
                <td> {{pro.title}}</td>
                <td> {{pro.Category}}</td>
                <td> {{pro.owner}}</td>
                <td> {{pro.total_target}}</td>
                <td> {{pro.average_rate}}</td>
                <td> {{pro.start_date}}</td>
                <td> {{pro.end_date}}</td>
                <td> {{pro.is_featured}}</td>
                <td><a class="btn btn-dark" href="{% url 'custom_admin_project_edit' pro.id %}">Edit</a></td>
                <td><a class="btn btn-danger" href="{% url 'custom_admin_project_delete' pro.id %}">Delete</a></td>
            </tr>
            {% endfor %}


        </tbody>
    </table>



</div>


{% endblock content %}