{% extends "base.html" %}

{% block  content %}

<div class="container mt-5">

    <h1>All Rates</h1>
    <p>Number of reported projects :{{reportedProjects|length}} </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">user</th>
                <th scope="col">project</th>
                <th scope="col">Reason</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            {% for rc in reportedProjects %}



            <tr>
                <th scope="row">{{reportedProjects.id}}</th>
                <td>{{reportedProjects.user}}</td>
                <td>{{reportedProjects.project}} </td>
                <td> {{reportedProjects.reason}}</td>

                <td><a class="btn btn-dark" href="">Edit</a></td>
                <td><a class="btn btn-danger" href="">Delete</a></td>
            </tr>
            {% endfor %}


        </tbody>
    </table>



</div>


{% endblock content %}