{% extends "base.html" %}

{% block  content %}

<div class="container mt-5">

    <h1>All Rates</h1>
    <p>Number of reported comments :{{reportedComments|length}} </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">user</th>
                <th scope="col">Project</th>
                <th scope="col">comment</th>
                <th scope="col">Reason</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            {% for rc in reportedComments %}



            <tr>
                <th scope="row">{{rc.id}}</th>
                <td>{{rc.user}}</td>
                <td>{{rc.comment.project}}</td>
                <td>{{rc.comment.comment_text}} </td>
                <td> {{rc.reason}}</td>

                <td><a class="btn btn-dark" href="">Edit</a></td>
                <td><a class="btn btn-danger" href="">Delete</a></td>
            </tr>
            {% endfor %}


        </tbody>
    </table>



</div>


{% endblock content %}