<nav class="navbar navbar-expand-lg text-white " style="background-color: rgb(0, 0, 0);">
    <div class="container-fluid text-white">
        <a class="navbar-brand text-white" href="{% url 'home' %}">Crowd-Funding</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link text-white active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active" aria-current="page" href="">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active" href="" aria-current="page">Contact Us</a>
                </li>
                {% if user.is_admin %}
                <li class="nav-item">
                    <a class="nav-link text-white active" href="{% url 'custom_admin_dashboard' %}"
                        aria-current="page">Admin Panel</a>
                </li>
                {% endif %}


            </ul>

            {% if user.id %}

            <a href="{% url 'project.create' %}" class="text-light fs-6 me-2 btn btn-dark">
                Add project
            </a>

            <a class="btn btn-outline-light " href="{% url 'logout'%}" style="margin-left: 20px;">Logout</a>
            <a class="btn text-light " href="{% url 'profile_view'%}" style="margin-left: 20px;">{{user}}</a>

            {% else %}
            <a class="btn btn-outline-light" aria-current="page" href="{% url 'login'%}"
                style="margin-left: 20px;">Login</a>
            <a class="btn text-light" aria-current="page" href="{% url 'accounts.register' %}"
                style="margin-left: 20px;">Register</a>
            {% endif %}
        </div>
    </div>
</nav>