{% extends "base.html" %}

{% block  content %}

<div class="container mt-5">

    <h1>All Users</h1>
    <div class="row">
        <div class="col-3 mb-5">

            <form action="{% url 'custom_admin_user_search' %}" method="post">
                {% csrf_token %}


                <div class="input-group">
                    <input name="searched_word" class="form-control border-end-0 border rounded-pill" type="text"
                        value="" id="example-search-input">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3"
                            type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>

                <label for="search_field">Search By:</label>
                <select name="search_field" class="form-control">
                    <option value="username">Username</option>
                    <option value="first_name">First Name</option>
                    <option value="last_name">Last Name</option>
                    <option value="email">Email</option>
                </select>


            </form>

        </div>

        <div class="col-3 mb-5">
            <form action="{% url 'custom_admin_user_sort' %}" method="post">
                {% csrf_token %}

                <label for="sort_by">sort By:</label>
                <select name="sort_by" class="form-control">
                    <option value="username">Username</option>
                    <option value="is_active"> is active </option>
                    <option value="id"> id </option>

                </select>
                <button class="btn btn-primary" type="submit">ok</button>
            </form>

        </div>

    </div>
    <div class="row">
        <div class="offset-8 col-4">
            <a class="btn btn-success" href="{% url 'custom_admin_user_create' %}">Create a user</a>
        </div>
    </div>
    <p>Total number of Users: {{ users|length }}</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
                <th scope="col">Is Active ?</th>
                <th scope="col">Is Admin ?</th>
                <th scope="col">Is Staff ?</th>
                <th scope="col"></th>
                <th scope="col"></th>


            </tr>
        </thead>
        <tbody>

            {% for us in users %}



            <tr>
                <th scope="row">{{us.id}}</th>
                <td> {{us.first_name}}</td>
                <td> {{us.last_name}}</td>
                <td> {{us.phone_number}}</td>
                <td> {{us.email}}</td>
                <td> {{us.is_active}}</td>
                <td> {{us.is_admin}}</td>
                <td> {{us.is_staff}}</td>
                {% if us.is_admin or us.is_staff %}
                <td></td>
                <td></td>
                {% else %}
                <td><a class="btn btn-dark" href="{% url 'custom_admin_user_edit' us.id %}">Edit</a></td>
                <td><a class="btn btn-danger" href="{% url 'custom_admin_user_delete' us.id %}">Delete</a></td>

                {% endif %}

            </tr>
            {% endfor %}


        </tbody>
    </table>



</div>


{% endblock content %}